@page "/"

<h1>When They Lived</h1>

<p>Ever wondered if Andrew Jackson was kicking it in the US at the same time as Lawrence of Arabia? What about if Caeser was conquering Gaul at the same time that Jesus was breaking bread and dealing out fish?</p>
<h2>Well now you can know for certain</h2>
<p>Head on over to the timeline page and start checking out when people lived. Visualise this info in a timeline to see just how long they were around for, how long in between their lifetimes and how old they were at different times.</p>
